
<div class="row">
  <div class="col-12 d-flex justify-content-center text-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Login Form</h5>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" [(ngModel)]="employee.email"/>
            </div><br>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="employee.pwd" >
            </div><br>
            <button  class="btn btn-primary">Sign In</button>
        </form>   
      </div>
    </div>
  </div>
</div>


